:root {
    --primary-color: #000a75;
    --secondary-color: rgb(148, 148, 255);
    --disabled-color: grey;
    --voice-over-color: #00946f;
    --voice-over-hover-color: rgb(148, 255, 194);
}

html {
    box-shadow: 0 0 5px black;
}

.body {
    width: 500px;
    padding: 5px;
}

#summary {
    font-size: 14px;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}

.summarize-button {
    background-color: var(--primary-color);
}

.voice-over-button {
    background-color: var(--voice-over-color);
}

.summarize-button:hover {
    box-shadow: 0px 0px 1px 5px var(--secondary-color);
}

.summarize-button:focus {
    box-shadow: 0px 0px 1px 5px var(--secondary-color);
}

.voice-over-button:hover {
    box-shadow: 0px 0px 1px 5px var(--voice-over-hover-color);
}

.voice-over-button:focus {
    box-shadow: 0px 0px 1px 5px var(--voice-over-hover-color);
}

.button-container {
    display: flex;
    gap: 20px;
}

.bottom-button-container {
    display: flex;
    gap: 10px;
    margin-left: 90%;
    margin-top: 12px;
}

.copy-button {
    display: inline-block;
    padding: 5px;
    border: 1px solid #00946f;
    cursor: pointer;
}

.copy-button.copied {
    background-color: rgb(148, 255, 194);
}

#summary-length {
    margin-left: 428px;
}

.summary-title {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.loader {
    display: none;
    font-size: 20px;
    text-align: center;
}

.loader.visible {
    display: block;
}

.loader-emoji {
    font-size: 26px;
}

.select-container {
    display: flex;
    gap: 5px;
    justify-content: end;
    margin-top: 10px;
}

.help-icon {
    width: 10px;
    height: 10px;
    line-height: 10px;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    cursor: default;
}

.help-icon:hover + .help-description, .help-icon:focus + .help-description  {
    visibility: visible;
}

.help-description {
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 80px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px black;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.modes-container {
    display: flex;
    gap: 5px;
    width: fit-content;
    margin-bottom: 20px;
    border: 1px solid var(--secondary-color);
    padding: 2px;
}

#custom-text-input {
    width: 100%;
    margin: 10px 0;
}

#custom-text-input.hidden {
    display: none;
}

.mode {
    padding: 5px;
    cursor: pointer;
}

.mode.selected {
    box-shadow: 0px 0px 0px 5px var(--secondary-color);
}

.mode:hover, .mode:focus {
    box-shadow: 0px 0px 0px 5px var(--secondary-color);
}

.share-icon {
    width: 23px;
    height: 23px;
    cursor: pointer;
    fill: var(--voice-over-color);
    margin-top: 2px;
}

#website-page-option.disabled {
    pointer-events: none;
    color: var(--disabled-color);
}

.close-icon {
    position: absolute;
    right: 22px;
    top: 18px;
    cursor: pointer;
}
